h1{
    font-size: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
content{
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    background-color: darkslategray;
    float:left;
    width:400px;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
________________________________________________________________________________________________________________________________________________________________________________________________________
/* First Drop */
.text {
    white-space: nowrap;
    color: rgba(245, 147, 0, 0.863);
    font-size:20px;
    font-weight: bolder;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: burlywood;
    border-radius:10px ;
    
    overflow: hidden;
    width: 356px;
    height:0;
    transition: .5s ease;
}
.container {
    margin: 25px;
    position: relative;
    float: left;
    margin-top: 45px;

}.image {
    display: block;
    height: 200px;
    border-radius: 10px;
}
___________________________________________________________________________________________________________________________________________________________________________________________________________________
/* SECOND DROP */

.texttwo {
    white-space: nowrap;
    color: rgba(245, 147, 0, 0.863);
    font-size:20px;
    font-weight: bolder;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.containertwo:hover .overlaytwo {
    bottom: 0;
    height: 100%;
}
.overlaytwo {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: burlywood;
    border-radius:10px ;
    
    overflow: hidden;
    width: 356px;
    height:0;
    transition: .5s ease;
}
.containertwo {
    margin: 25px;
    position: relative;
    float: left;

}.imagetwo {
    display: block;
    height: 200px;
    border-radius: 10px;
}
____________________________________________________________________________________________________________________________________________________________________________________________________________________

iframe{
    float: right;
    border-radius: 20px;
    border-width: 40px;
    border-color: lightsalmon;
}

.img1{
    width: 250px;
    border-radius: 15px;
    margin: 50px; 
}
.img1:hover{
    width: 300px;
}

.img2{
    width: 300px;
    border-radius: 15px;
    margin: 50px;
}
.img2:hover{
    width: 350px;
}

.img3{
    width: 250px;
    border-radius: 15px;
    margin: 50px;
}
.img3:hover{
    width: 300px;
}

p{
    margin: 25%;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

